<%- include("../partials/nav") %>
<section class="column-center">
  <div class="centerbox">
    <table class="employeeEdit-table">
      <tr>
        <th>Name:</th>
        <th>Created by:</th>
        <th>Age:</th>
        <th>Salary:</th>
        <th>Role:</th>
      </tr>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.user.username %></td>
        <td><%= employee.age %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.role %></td>
      </tr>
    </table>
    <div>
      <a href="/employees/<%=employee._id%>/edit"><button>Edit</button></a>

      <form
        action="/employees/<%= employee._id %>?_method=DELETE"
        method="POST">
        <button type="submit">Delete <%= employee.name %>?</button>
      </form>

    </div>
  </div>
  
</section>



