<%- include("partials/nav") %>

<section class="column-center">
  <div class="centerbox">
    <h1>Forms</h1>
    <ul>
      <% files.map(file => { %>
        <li>
<<<<<<< HEAD
          <a href="<%= file.url %>"><%= file.name %> Employees Compensation</a>
          
=======
          <a href="<%= file.url %>" target="_blank" id="form-link"><%= file.name %> Employees Compensation</a>
>>>>>>> main
        </li>
      <% }) %>
    </ul>
  </div>
</section>




