<%- include("../partials/nav") %>
<div class="content flow">

  <div class="title-box">
    <h1 class="title">Edit <%=user.username%></h1>
  </div>

  <div class="grid">
    <div class="col">
      <span class="material-icons-outlined" style="font-size: 5rem;">
       account_circle
      </span>
      <form action="/users/<%=user._id%>?_method=PUT" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" value="<%=user.username%> "><br>
        <label for="companyID">companyID</label>
        <input type="text" name="companyID" value="<%=user.companyID%>"/><br>
        <button type="submit">Submit</button>
      </form>
  </div>
</div>

<%- include("../partials/footer") %>
