<%- include("../partials/nav") %>
<section class="column-center">
  <div class="centerbox">
    <h2>Edit Account</h2>
    <h1><%=user.username%></h1>
    <form action="/users/<%=user._id%>?_method=PUT" method="POST">
      <input type="text" name="companyID" value="<%=user.companyID%>" />
      <button type="submit">Submit</button>
    </form>

    <div>
      <a href="/users"><button>Home</button></a>
      <a href="/users/new"><button>New</button></a>
      <a href="/users/logout"><button>Logout</button></a>
    </div>
  </div>
</section>

<%- include("../partials/footer") %>
