<%- include("../partials/nav") %>

<section class="column-center">
  <div class="centerbox">
    <h2>Registered Users</h2>

    <table class="user-table">
      <tr>
        <th>User</th>
        <th>ID</th>
      </tr>
      <tr>
        <% users.forEach((user)=>{ %>
        <td><a href="/users/<%=user._id%>"><%= user.username %></a></td>
        <td><%=user._id%></td>
      </tr>
      <% }) %>
    </table>

    <form action="/users">
      <input type="text" name="username" />
      <button type="submit" class="button">User Lookup</button>
    </form>

    <div>
      <a href="/users/index" class="button"><button>Home</button></a>
      <a href="/users/new" class="button"><button>New</button></a>
    </div>
  </div>
</section>

<%- include("../partials/footer") %>
