<%- include("../partials/nav") %>

<div class="content flow">

  <div class="title-box">
    <h1 class="title">User Accounts</h1>
  </div>

   
  <div class="grid">
    <% users.forEach((user)=>{ %>
    <div class="col">
      <span class="material-icons-outlined" style="font-size: 5rem;">
        account_circle
      </span>
      <a href="/users/<%=user._id%>">
        <p><%= user.username %></p>
        <p><%= user._id%></p>
      </a>
    </div>
    <% }) %>
  </div>
  
</div>
  
<%- include("../partials/footer") %>
