<%- include("../partials/nav") %>

<section class="column-center">
  <div class="centerbox">
    <table class="userAccount-table">
      <tr>
        <th>Account</th>
        <td><%=user.username%></td>
        <th>ID</th>
        <td><%=user._id%></td>
        <th>Company ID</th>
        <td><%=user.companyID%></td>
      </tr>
    </table>

    <div>
      <a href="/users/<%=user._id%>/edit" class="button"><button>Edit your profile</button></a>
      <a href="/users/logout" class="button"><button>Logout</button></a>
    </div>
  </div>
</section>

<%- include("../partials/footer") %>
