<%- include("../partials/nav") %>

<div class="content flow">

  <div class="title-box">
    <h1 class="title">Profile: <%=user.username%> </h1>
  </div>

  <div class="grid">
    <div class="col">
      <span class="material-icons-outlined" style="font-size: 5rem;">
        account_circle
      </span>
      <div class="employeeBasicInfo">
        <p>Account: <%=user.username%></p>
          <p>ID: <%=user._id%></p>
          <p>Company ID: <%=user.companyID%></p>
      </div>
      <div>
        <a href="/users/<%=user._id%>/edit" class="button"><button>Edit</button></a>
      </div>
    </div>
    


  
  
      
  



<%- include("../partials/footer") %>
